@import url("https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  border: 1px solid rgb(54, 18, 183);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 20px 0;
  box-shadow: 0px 1px 5px 0px rgb(172, 170, 170);
}

.container {
  max-width: 1300px;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
}

.telegram {
  width: 40px;
  height: 40px;
  display: flex;
  transition: all 0.3s;
  border-radius: 24px;
}

.telegram:hover,
.header__logo:hover {
  transform: scale(1.2);
  opacity: 0.8;
  filter: brightness(1.2) contrast(120%)
    drop-shadow(0px 0px 5px rgb(40, 132, 237));
}

.header__logo {
  width: 40px;
  text-decoration: none;
  font-weight: 700;
  font-family: sans-serif;
  border-radius: 4px;
  font-size: 38px;
  height: 40px;
  background: rgb(0, 162, 255);
  color: white;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 40px;
}
.link {
  font-family: "Playwrite US Modern", cursive;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: all 0.3s;
  color: rgb(5, 12, 43);
}

.link:hover {
  color: rgb(43, 103, 231);
}

.list__item__category {
  position: relative;
}

.hidden {
  top: -24px;
  position: absolute;
  transition: all 0.3;
  z-index: -1;
  position: absolute;
  width: 200px;
  background: white;
  transition: all 0.3s;
  opacity: 0;
  display: flex;
  padding: 5px 15px;
  flex-direction: column;
  border-radius: 8px;
  left: -30px;
  list-style: none;
  box-shadow: 0 0 3px 0 gray;
}

.category__list {
  position: absolute;
  width: 200px;
  background: white;
  transition: all 0.3s;
  display: flex;
  top: 40px;
  padding: 5px 15px;
  opacity: 1;
  z-index: 2;
  flex-direction: column;
  border-radius: 8px;
  gap: 20px;
  left: -30px;
  list-style: none;
  box-shadow: 0 0 3px 0 gray;
}
.category__item > a {
  font-size: 14px;
}

.footer {
  padding: 20px 0;
  margin-top: auto;
  box-shadow: 0px -1px 5px 0px rgb(172, 170, 170);
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerLogo {
  width: 40px;
  text-decoration: none;
  font-weight: 700;
  font-family: sans-serif;
  border-radius: 4px;
  font-size: 38px;
  height: 40px;
  background: rgb(0, 162, 255);
  color: white;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerLogo:hover {
  filter: saturate(40%);
  filter: drop-shadow(0 0 2px blue);
}

h6 {
  font-size: 15px;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: gray;
  user-select: none;
}

.link__SVG {
  width: 25px;
  height: 25px;
  display: flex;
}

.home {
  padding: 50px 0;
}
.home__title {
  font-size: 48px;
  font-family: "Acme", sans-serif;
  text-align: center;
}
.home__box {
  display: flex;
  flex-direction: column;
}
.tools__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.home__title2 {
  font-family: "Acme", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}

.tools__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: white;
  border-radius: 24px;
  position: relative;
  box-shadow: 0 0 10px 0 black;
  padding: 20px 30px;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  color: black;
  overflow: hidden;
  transition: all 0.3s;
}

.tools__item:hover {
  background: rgb(255, 196, 88);
}

.tools__icon {
  width: 80px;
  height: 80px;
  z-index: 2;
  display: flex;
}
.tools__info {
  font-family: "Acme", sans-serif;
  font-weight: 500;
  font-size: 14px;
  z-index: 2;
}
.tools__text {
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  text-align: center;
}

.age {
  padding: 50px 0;
}
.age__title {
  font-family: "Acme", sans-serif;
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.age__label {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  margin-bottom: 12px;
}
.age__input {
  width: 100%;
  max-width: 500px;
  padding: 12px 25px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid gray;
  color: gray;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
}
.age__calcBtn {
  font-family: monospace;
  padding: 4px 14px;
  display: flex;
  background: black;
  color: white;
  border: none;
  font-size: 15px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 30px;
  border: 1px solid transparent;
}

.age__calcBtn:hover {
  background: white;
  color: gray;
  border: 1px solid gray;
}

.ageInfoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px 0 gray;
  max-width: 500px;
  padding: 20px 30px;
  margin-left: auto;
  border-radius: 24px;
  filter: drop-shadow(0px 4px 14px gray);
  margin-right: auto;
}
.your__age {
  font-family: "Acme", sans-serif;
  font-size: 26px;
}
.your__age__info,
.common__days {
  font-family: monospace;
  font-size: 17px;
  font-weight: 700;
}

.modal {
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 5px gray;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  margin-bottom: 20px;
}
.modal__content {
  position: relative;
  padding: 20px;
}
.close {
  position: absolute;
  top: 0;
  cursor: pointer;
  right: 20px;
}

.modal__content > p {
  font-family: sans-serif;
  font-size: 18px;
  color: red;
}

.wordCounterSec {
  padding: 50px 0;
}
.textArea {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 20px;
  outline: none;
  border-radius: 8px;
  outline: none;
  overflow: hidden;
  width: 100%;
  min-height: 200px;
}
.wordInformation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 700px;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}
.wirdInfoText {
  text-align: center;
  width: 100%;
  padding: 15px 25px;
  box-shadow: 0 0 5px 0 gray;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
}

.password-generator {
  padding: 50px 0;
}
.title {
  text-align: center;
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 20px;
}
.input-group {
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.labelL {
  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  flex-direction: column;
}
.input {
  padding: 15px 25px;
  font-size: 15px;
  outline: none;
  border: 2px solid gray;
  border-radius: 24px;
}

.label {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 5px;
  font-family: "Acme", sans-serif;
}

.checkbox {
  accent-color: rgb(102, 215, 249);
  width: 20px;
  height: 20px;
}
.generate-button {
  max-width: 200px;
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  padding: 12px 15px;
  margin-bottom: 25px;
  cursor: pointer;
  background: transparent;
  border: 1px dashed gray;
  font-size: 18px;
  border-radius: 24px;
}
.password-output {
  max-width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.password-output > h3 {
  font-family: sans-serif;
  margin-bottom: 25px;
  letter-spacing: 1px;
}
.password {
  font-family: monospace;
  letter-spacing: 2px;
  font-size: 24px;
  height: 35px;
  padding: 2px;
  border: 1px solid gray;
  margin-bottom: 25px;
  border-radius: 12px;
}

.copy-button {
  max-width: 600px;
  width: 100%;
  border-radius: 24px;
  height: 35px;
  padding: 2px 5px;
  display: flex;
  align-items: center;
  font-weight: 800;
  background: transparent;
  border: 1px solid rgba(11, 9, 9, 0.665);
  justify-content: center;
  margin-left: auto;
  transition: all 0.3s;
  cursor: pointer;
  margin-right: auto;
}

.copy-button:hover {
  background: #f0f0f0;
}

.formSection {
  padding: 50px 0;
}

.formSection__containeer > form {
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.formSection__containeer > form > label {
  width: 100%;
  margin-bottom: 10px;
  flex-direction: column;
  display: flex;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  box-shadow: 0 0 4px 0 gray inset;
  border-radius: 14px;
  padding: 4px 0;
}

.contactTitle {
  font-size: 48px;
  text-align: center;
  font-family: "Acme", sans-serif;
  margin-bottom: 20px;
}
.contactLabel {
  display: flex;
  padding: 0 17px;
  margin-bottom: 5px;
}
.contactInp {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-transform: capitalize;
  padding: 5px 14px;
  border: none;
  border-radius: 14px;
  outline: none;
}
.submit {
  grid-column: span 2;
  border: none;
  box-shadow: 0 0 4px 0 rgb(72, 72, 72) inset;
  background: transparent;
  padding: 8px 7px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: monospace;
  font-weight: 600;
  cursor: pointer;
  color: rgb(72, 72, 72);
  transition: all 0.3s;
  max-width: 400px;
  border-radius: 24px;
}

.submit:hover {
  box-shadow: 0 0 10px 0 rgb(84, 101, 255) inset;
  color: rgb(8, 21, 132);
}

.res__nav__list {
  display: none;
}

@media (max-width: 768px) {
  .nav__list {
    display: none;
  }

  .telegram {
    display: none;
  }

  .headerBox {
    max-width: 100%;
  }

  .res__nav__list {
    display: block;
    padding: 30px 20px;
    position: fixed;
    top: -200%;
    left: 0;
    background: rgb(243, 248, 221);
    z-index: 9;
    width: 100%;
    list-style: none;
    transition: all 0.3s;
    min-height: 100vh;
  }
  .res__list__item,
  .res__category__item {
    width: 100%;
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    /* justify-content: center; */
    /* align-items: center; */
    border-bottom: 1px solid rgb(109, 106, 106);
  }
  .res__link {
    font-family: " Playwrite US Modern ", cursive;
    color: #0b0c52;
    font-weight: 500;
    max-width: 250px;
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 18px;
  }

  .res__category__list {
    margin-left: 30px;
    padding-left: 20px;
    width: 100%;
    max-width: 250px;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    border-radius: 8px;
    top: 145px;
    transition: all 0.3s;
    list-style: none;
    background: rgba(255, 166, 0, 0.459);
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .res__hidden {
    position: absolute;
    opacity: 0;
    top: 20px;
    max-width: 250px;
    z-index: -1;
    overflow: hidden;
    transition: all 0.3s;
    margin-left: 30px;
    padding-left: 20px;
  }

  .res__link__SVG {
    width: 20px;
    height: 20px;
  }

  .closeBtn {
    width: 25px;
    height: 25px;
    margin-left: auto;
    display: flex;
    border: none;
    cursor: pointer;
    background: transparent;
  }

  .burgerMenu {
    cursor: pointer;
    width: 30px;
    border: none;
    height: 30px;
    display: flex;
    background: transparent;
  }

  .home,
  .formSection,
  .wordCounterSec,
  .password-generator {
    padding: 30px 0;
    padding-left: 16px;
    padding-right: 16px;
  }

  .home__title,
  .contactTitle,
  .age__title,
  .title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .home__title2,
  .tools__text {
    font-size: 14px;
  }

  .tools__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .tools__icon {
    margin-left: auto;
    margin-right: auto;
  }
  .contactLabel {
    font-size: 14px;
  }

  .formSection__containeer > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .age__label {
    font-size: 14px;
  }

  .age__input {
    font-size: 12px;
    padding: 5px 7px;
  }

  .modal__content > p {
    font-size: 14px;
  }

  .your__age {
    font-size: 20px;
  }

  .your__age__info,
  .common__days {
    font-size: 12px;
  }

  #label {
    flex-direction: column;
  }

  .label {
    font-size: 12px;
    gap: 12px;
  }

  .checkbox {
    width: 15px;
  }

  .input{
    width: 100%;
    padding: 8px 12px;
  }

  .generate-button{
    font-size: 12px;
    max-width: 100%;
  }

  .password{
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .wordInformation{
    grid-template-columns: repeat(1, 1fr);
  }

  .wirdInfoText{
    font-size: 12px;
  }
}
